---
import Layout from '@layouts/Layout.astro'
import { url } from '@data/seo.js'
import { Image } from 'astro:assets'
import hero from '@assets/hero.jpg'
---

<Layout
	title="Acasă"
	description="Bun venit pe site-ul oficial al Enciclopediei Ninjago. Aici veți găsi toate informațiile despre Ninjago. Plus episoade gratuite."
	seoImage="/images/seo/acasa.jpg"
	type="website"
	url={url}
>
	<header>
		<Image src={hero} alt="Ninjago" class="hero-image" />
		<div class="hero-overlay"></div>
		<div class="hero-text">
			<h1>Enciclopedia Ninjago</h1>
			<p>Site-ul oficial al Enciclopediei Ninjago</p>
		</div>
	</header>
</Layout>

<style>
	header {
		--_navbar-height: 0px;
		position: relative;
		height: calc(100dvh - var(--_navbar-height));
		height: calc(100vh - var(--_navbar-height));
	}

	.hero-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.hero-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		);
	}

	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.hero-text h1 {
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.hero-text p {
		font-size: 2rem;
	}

	main {
		padding: 2rem;
	}

	main h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
		font-weight: 500;
		text-align: center;
	}

	@media screen and (max-width: 768px) {

		.hero-text {
			top: 40%;
		}

		.hero-text h1 {
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}

		.hero-text p {
			font-size: 1.5rem;
		}
	}
</style>
<script is:inline>
	const navbar = document.querySelector('nav');
	const header = document.querySelector('header');

	header.style.setProperty('--_navbar-height', navbar.offsetHeight + 'px');
</script>