---
import { Image } from 'astro:assets'
import logo from '@assets/logo.png'
---

<nav>
    <div class="logo">
        <a href="/acasa/">
            <Image src={logo} alt="logo" />
        </a>
    </div>
</nav>

<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        transition: all 0.2s ease-in-out 0s;
        will-change: background-image;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    nav li {
        list-style: none;
    }

    a {
        color: white;
        text-decoration: none;
    }

</style>

<script>

    const nav = document.querySelector('nav')
    const scrollsize = 100

    if(!nav) {
        throw new Error('Nav not found');
    }

    window.onscroll = function() {
        if(window.scrollY > scrollsize) {
            nav.style.backgroundImage = 'linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))';
        } else {
            nav.style.backgroundImage = 'linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))';
        }

    }

</script>